.select {
    padding: 5em; 
}
.navgation-top{
    width: 100%;    
    background-color: #ff6f69;
    height: 55px;
    justify-content: center;
}
.admin-bar{
    width: 100%;
}


.topNav{
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}

.Yegan-title{
    background-color: #ff6f69;
    font-family: sans-serif;
    padding-top: 10px;
    width: 100%;
    justify-content: center;  
    height: 70px;
}
.nav-Yegan{
    font-weight: 600;
    color: black;
}



.displayTable{
    margin-top: 1em;
    width: 100%;

}

/*------------------------------ Admin page styling below            --------------------------------------------------        */
.background-form{
    width: 100%;
    background-color:  rgba(128, 128, 128, 0.53);
    justify-content: center;  

}